   
<div class = "container">
<h1>Add a New Task</h1>

<form action = '/contactForm' method = 'POST'>
  <input type='text' name = 'name' placeholder="name"/>
  <input type='submit'/>
</form>

<table class = "table-striped">
<tr>

{{#each allTasks}}
	<tr>
	<td>
	
	
	{{this.name}}
	<form role = "form" action = "updateTask" method = "POST">
		<input type = "hidden" name = "id" value = {{this.id}}>
		<input type = "text" name = "name" value = "" placeholder = "New Task Name">
		<input type = "submit" value = "Update Task">
	</form>
	</td>
	<td>
	<form role = "form" action = "deleteTask" method = "POST">
		<input type = "hidden" name = "id" value = {{this.id}}>
		<input type = "submit" value = "Delete Task">
	</form>
	</td>
	</tr>
{{/each}}
</table>
</div>